.footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  background-color: var(--dark-gray);
  border-right: 8px solid var(--orange);
  box-sizing: border-box;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.footer a:hover {
  color: var(--blue)
}
